:root {
  /* Width size of left and right side of page */
  --image-sidebar-width: 35vw;
  --rightside-width: calc(100vw - var(--image-sidebar-width));

  --form-background-color: white;
  --right-side-leftspace: 50px;
}

/* Removes browsers default styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./Norse-Bold.otf")
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#content,
.icon {
  display: flex;
  flex-flow: row wrap;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  width: 100vw;
  height: 100vh;
}


/* Left side of form */

#image-sidebar {
  background-image: url("./halie-west-25xggax4bSA-unsplash.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--image-sidebar-width);
  height: auto;
}

.icon {
  font-family: "Norse Bold", sans-serif;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  top: 13rem;
}

.odin {
  width: 110px;
}

.icon > h1 {
  position: inherit;
  top: 15px;
  color: white;
  font-size: 110px;
}

#footer-credit,
#footer-credit > p > a {
  color: rgb(196, 196, 196);
}

#footer-credit {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: inherit;
  padding-bottom: 10px;
  color: rgb(196, 196, 196);
}

/* Right side of form */

#rightside {
  display: flex;
  flex-flow: column wrap;
  width: var(--rightside-width);
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
}

.dummy-text {
  display: inherit;
  flex-flow: inherit;
  font-size: 24px;
  padding: 0px 0px 75px var(--right-side-leftspace);
}

.dummy-text  p {
  width: clamp(45ch, 70%, 75ch);
}

.dummy-text > p + p + p {
  margin-top: 30px;
}

#input-side {
  display: flex;
  flex-flow: row wrap;
  row-gap: 30px;
  padding: 25px 50px 50px 50px;
  align-content: flex-start;
  background-color: var(--form-background-color);
  box-shadow: 1px 5px 5px 0px #cfcece;
}

#form-title {
  width: 100%;
  font-size: 28px;
}

#input-side input {
  height: 32px;
  width: 250px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

#input-side input:focus {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 10%);
}

#input-side input:invalid,
.error {
  border: 1px solid red;
}

.input {
  display: flex;
  flex: 0 1 410px;
  flex-flow: column wrap;
}

label {
  font-size: 12px;
  color: rgb(62, 62, 62);
  font-family: sans-serif;
  letter-spacing: 1.5px;
}

.password-error {
  height: 12px;
  width: 250px;
  color: red;
  font-size: 12px;
}

.create-acc {
  background-color: #596D48;
  border-radius: 12px;
  padding: 16px;
  color: white;
  font-size: 18px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 10%);
  margin: 40px 40px 40px var(--right-side-leftspace);
  width: 240px;
}

#log-in > p > a {
  text-decoration: none;
  color: #596D48;
  font-weight: 700;
}

#log-in > p {
  margin-left: var(--right-side-leftspace);
  font-size: 18px;
}